* {
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
}

body
{
    font-family: "Reddit Mono", monospace;
}

.card
{
    margin: 360px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.386);
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-color: dimgray;
}

.card .main p {
    text-align: center;
}


